@model SportStore.Models.Products

@{
    ViewData["Title"] = Model.Shop.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/css/ProductDetails.css" rel="stylesheet" />
<script src="/lib/jquery/dist/jquery.js"></script>
<hr />

<br>

<div class="row">
    <div class="col-md-2">
        <a class="navbar-brand" href="/Shop/Index?shopId=@Model.Shop.ID">店铺:@Model.Shop.Name</a>
        <br />
    </div>
    <div class="col-md-10 bg">
        <div class="bg_left">
            <div class="show">
                <img src="@Model.Images.FirstOrDefault().Url" alt="">
                <div class="mask"></div>
            </div>
            <div class="smallshow">
                <p class="prev prevnone"></p>
                <div class="middle_box">
                    <ul class="middle">
                        @foreach (var item in Model.Images)
                        {
                            <li><img src="@item.Url" /></li>

                        }

                    </ul>
                </div>
                <p class="next "></p>
            </div>
        </div>
        <div class="bg_right">
            <div class="bigshow">
                <div class="bigitem">
                    <img src="@Model.Images.FirstOrDefault().Url" alt="">
                </div>
            </div>
            <div class="pro_list">
                <div style="padding-left:10px;">
                    <h1 class="text-left">
                        @Model.Name
                    </h1>
                </div>
                <div style="width: 220px; line-height: 24px; font-size: 20px; color: #eb4e01;padding-top:20px; padding-left:10px;">价格：<span class="glyphicon glyphicon-yen">@Model.Price</span></div>
                <div style="width: 220px; line-height: 24px; font-size: 20px; padding-top:20px; padding-left:10px;">
                    <p>库存：@Model.Stocks</p>
                    <hr />

                    @if (Model.Status.ID != (int)ProductStatus.下架)
                    {
                        if (User.Identity.IsAuthenticated)
                        {

                            <button class="btn btn-primary addCart" id="@Model.ID" onclick="AddCart(@Model.ID)">加入购物车</button>
                        }
                        else
                        {
                            <button class="btn btn-primary addCart" id="@Model.ID" href="#LoginTips" role="button" data-toggle="modal">加入购物车</button>

                        }
                    }
                    else
                    {
                        <button class="btn btn-primary" disabled>已下架</button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    var obj = new mag('.show', '.bigshow', '.smallshow', '.mask', '.bigitem', '.pro_list');
    obj.init();
</script>


<hr />
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="jumbotron well">
            @if (Model.Shop.Notice != null)
            {
                <h3>
                    店铺公告
                </h3>
                <h4>@Model.Shop.Notice</h4>
                <hr />

            }

            <h3>
                商品信息
            </h3>
            <h4>
                商品编号：@Model.ID
            </h4>
            <h4>
                商品名称：@Model.Name
            </h4>
            <h4>
                商品类别：@Model.Category.Name
            </h4>
            <h4>
                商品描述：@Model.Description
            </h4>
        </div>
    </div>
</div>
<h3>商品评论</h3>
<hr />
<div class="comment-list">
    @foreach (var item in Model.Comments)
    {
    <div class="comment-right">
        <h3>@item.Account.Name</h3>
        <div class="comment-content-header">
            <span class="glyphicon glyphicon-time"><i>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</i></span>
        </div>
        <p class="content">@item.Content</p>
        <div class="comment-content-footer">
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="reply-btn" onclick="Getid(@item.ID);">回复</a>
                    }
                    else
                    {
                        <a class="reply-btn" href="#LoginTips" role="button"  data-toggle="modal">回复</a>

                    }
                </div>
             </div>
        </div>
        <div class="reply-list" style="border-left: 3px solid #ccc;padding-left: 7px;">
            <div class="reply">
                @foreach(var r in item.Replies)
                {
                    <div>
                    <span class="replyname">@(r.Account.Name==Model.Shop.Merchant.Name?"商家":r.Account.Name)</span>
                    <span>：@r.Content</span>
                    </div>
                    <p><span>@r.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</span></p>
                }
                
            </div>
        </div>
    </div>
        <hr />
    }

</div>

<div class="modal fade" id="Reply" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    回复评论
                </h4>
            </div>
            <form asp-action="Reply" asp-controller="Shop" method="post">
                <div class="modal-body">
                    <textarea cols="80" rows="50" placeholder="来说几句吧......" class="mytextarea" id="content" name="content" required></textarea>
                    <input name="id" id="CommentID" required hidden />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info pull-right" onclick="Reply();">评论</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    function Getid(id) {
        $("#CommentID").val(id);
        $("#Reply").modal('show');
    }
    function Reply() {
        var id = $("#CommentID").val();
        if (id == '') {
            alert('出现异常，请重试！'); return;
        }
        var con = $("#content").val();
        if (con == '') {
            alert("请输入回复内容！");
            return;

        }
        $.ajax({
            url: "/Shop/Reply",
            type: "POST",
            data: { commentid: id, content:con },
            success: function (result) {
                if (result.success) {
                    window.location.reload();

                }
                else {
                    alert(result.errorMsg);

                }

            },
            error: function () {
                alert('网络错误，请重试！');

            }

        })

    }

</script>

